<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Daily Journal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1315258a12.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;900&family=Ubuntu:wght@300;400;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <section id="title">



        <!-- Nav Bar -->
    
        <nav class="navbar navbar-expand-lg navbar navbar-light" style="background: url(walp.jpg);" >
    
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand ">Daily Journal</a>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav ms-auto head">
              <!-- 6 -->
              <li class="nav-item" id="home"><a class="nav-link" href="/">HOME</a></li>
              <li class="nav-item" id="login"><a class="nav-link" href="/login">LOGIN</a></li>
              <li class="nav-item" id="register"><a class="nav-link" href="/register">REGISTER</a></li>
            </ul>
          </div>
        </nav>
    </section>    
    <section class="hero">
        <div class="hero-text">
            <!--<h4>xxxxxxxxxx</h4>
            <h5>cccccccc</h5>
            <h1>gjg</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis beatae natus corrupti corporis rem?
                Ipsa soluta veniam debitis, esse alias odio numquam nemo doloribus cumque sapiente hic voluptas labore
                nostrum.</p>
                <a href="">Compare</a> 
                <a href="" class="ctaa">kdndcmcjncncncnxc</a>-->
                <div class="container-fluid">


                    <h2>Compose  &#9998;</h2>
                  <div class="form-box form-container">
                      <form class="" action="/compose" method="post">
                          <div class="form-group">
                              <label>
                                  <h5>Title</h5>
                              </label>
                              <input class="form-control" type="text" name="postTitle" autocomplete="off">
                              <label>
                                  <h5>Post</h5>
                              </label>
                              <textarea class="form-control" name="postBody" rows="5" cols="30"></textarea>
                          </div>
                          <button class="btn btn-success" type="submit" name="button">Publish</button>

                      </form>
                  </div>
              
                    <!--<h1 class="big-heading">Find the True Love of Your Dog's Life Today.</h1>
                    <button class="download-button btn btn-lg btn-dark" type="button"><i class="fab fa-apple"></i> Download</button>
                    <button class="download-button btn btn-lg btn-success" type="button"><i class="fab fa-google-play"></i> Download</button>-->
                  </div>
        </div>
    </section>
    <footer id="footer">
        <i class="soacial fa-brands fa-facebook fa-2x"></i>
        <i class="social fa-brands fa-instagram fa-2x"></i>
        <i class="social fa-brands fa-twitter fa-2x"></i>
        <i class="social fa-solid fa-envelope fa-2x"></i>
        <p id="foot-p">© Copyright Daily Journal</p>
      
      </footer>
</body>

</html>