<footer id="footer">
  <i class="soacial fa-brands fa-facebook fa-2x"></i>
  <i class="social fa-brands fa-instagram fa-2x"></i>
  <i class="social fa-brands fa-twitter fa-2x"></i>
  <i class="social fa-solid fa-envelope fa-2x"></i>
  <p id="foot-p">© Copyright Daily Journal</p>

</footer>


</body>
</head>

</html>