<%- include("header"); -%>
    <section id="title">

        <div class="container-fluid ">
            <div class="row">
                <div class="col lg-6 ">
                    <h1>Find new and interesting articles daily.</h1>
                    <button type="button" class="btn btn-success"><a href="/main" class="compose-btn">Journal Page  &#9998;</a></button>
                        <!--<button type="button" class="btn btn-dark"><a href="/compose" class="compose-btn">Compose  &#9998;</a></button>-->
                </div>
                <div class="col lg-6">
                    <!--<img class="title-image" src="wallpaperflare.com_wallpaper (1).jpg" alt="iphone-mockup">-->
                </div>
            </div>
        </div>
    </section>

   
     <!-- Call to Action -->
    </section>

    <section class="white-section" id="features">

      <div class="container-fluid">
  
        <div class="row">
          <div class="feature-box col-lg-4">
            <i class="icon fas fa-check-circle fa-4x"></i>
            <h3 class="feature-title">Easy to use.</h3>
            <p>So easy to use, anyone can use it.</p>
          </div>
  
          <div class="feature-box col-lg-4">
            <i class="icon fas fa-bullseye fa-4x"></i>
            <h3 class="feature-title">Elite Clientele</h3>
            <p>We have all the blogs, news and the reviews.</p>
          </div>
  
          <div class="feature-box col-lg-4">
            <i class="icon fas fa-heart fa-4x"></i>
            <h3 class="feature-title">Guaranteed to work.</h3>
            <p>Find the best blog and articles on respective topics.</p>
          </div>
        </div>
  
  
      </div>
    </section>


    <!-- Testimonials -->

    <section id="testimonials">



        <!-- < -->


        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-ride="false">
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <h2>I no longer have to sniff other dogs for love. I've found the hottest Corgi on TinDog. Woof.
                    </h2>
                    

                </div>

                <div class="carousel-item">
                    <h2 class="testimonial-text">Daily Journal Reviews is the trusted platform to find reviews of all kinds starting from smartphones to cameras, gaming, computing, and more.</h2>
                </div>

                <div class="carousel-item">
                    <h2>Daily Journal is one of the world #1 review websites which was founded in 2023. 
                    </h2>
                </div>
                <div class="carousel-item">
                    <h2>Daily Journal is a popular review site that covers all the breaking news, popular product reviews, great deals, and more. 
                    </h2>
                </div>

                <div class="carousel-item">
                    <h2>I no longer have to look for other journals. I've found the journals on Daily Journal.
                    </h2>
                </div>

                <div class="carousel-item">
                    <h2> Daily Journal is probably the biggest review website that mostly focuses on technology reviews including phones, tablets, laptops, etc. It was launched in 2023.
                    </h2>
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>



   

    
  <section class="colored-section" id="cta">

    <div class="container-fluid">


      

      <h1 class="big-heading">Want to write for the journal then first login or register.</h1>
      <button class="download-button btn btn-lg btn-dark" type="button"><a href="/login" class="compose-btn">Login</a> </button>
      <button class="download-button btn btn-lg btn-success" type="button"><a href="/register" class="compose-btn">Register</a> </button>
    </div>
  </section>


    <%- include("footer"); -%>